.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.7);

    width: 100vw;
    height: 10%;
}

.leftnav{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.title{
    margin-left: 2%;

    color: #D2122E;
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
}

.rightnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.rightnav button{
    margin-inline: 2%;
}